{% extends "base.html" %}

{% block content %}

<style>

  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn {
    border: 1px solid #353535;
    background-color: #085b92;
    color: #fff;
    border-radius: 5px;
    height: 40px;
    width: 180px;
    font-size: 1rem;
  }

</style>

<form action="" method='post' enctype='multipart/form-data'>
  {% csrf_token %}

  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" value='cadastrar' class='btn btn-primary'>Cadastrar Novo Carro</button>

</form>

{% endblock %}
